.container{
    height: 90vh;
    width: 15rem;
    margin: 9rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mui-secondary);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.links{
    margin-top: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}