.container{
    height: 80vh;
    width: 17rem;
    margin: 9rem 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mui-primary);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.group{
    padding-top: 1rem;
}

.links{
    margin-top: 0.3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    text-align: center;
    color: var(--mui-bg-default);
    padding-top: 0.5rem;
}