
.container{
    background-color: var(--mui-palette-primary-main);
    width: 90vw;
    margin-top: 2.3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    height: 4.5rem;
    border-radius: 1.3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu_container{
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;

}

.menu_options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.button{
    font-weight: bold;
}